@charset 'utf-8';


* { margin:0; padding:0; }
html, body { font-family:'dotum', sans-serif; font-size:12px; line-height:1em; }

/* html5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

fieldset { border:0px; }
ol, ul { list-style:none; }

blockquote, q { quotes: none; }
blockquote:before, 
blockquote:after, 
q:before, 
q:after { content:''; }

a, 
button { cursor:pointer; font-size:inherit; font:inherit; color:inherit; }
a { text-decoration:none; }

[disabled]:hover { cursor:none; }

table { border-collapse:collapse; border-spacing:0; }

input[type="text"],
input[type="password"],
textarea { font-family:inherit; }
textarea { resize-y:none; }

input[type=text]::-ms-clear { display:none; } /* IE x button 제거 */

div, p { word-break:break-all; }
